{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Sistema</title>
        <link rel="icon" type="image/x-icon" href="{% static "core/img/favicon.png" %}">
        <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Incluir SweetAlert CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <style>
            #particles-js {
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                background:#383669
            }
            input.selected {
                background-color: #cce5ff !important; /* Cor quando selecionado */
            }

        </style>
    </head>
    <body class="flex items-center justify-center h-screen">
        <div id="particles-js"></div>
        <!-- Formulário de Login -->
        <div class="flex items-start lg:items-center xl:items-center justify-center ml-5 mr-5">
            <div class="w-auto lg:w-[500px] xl:w-[500px] bg-white z-0">
                <div class="p-10 xs:p-0 mx-auto max-w-xl md:w-full radius-2">
                    <div class="shadow shadow-primary w-full rounded-lg divide-y">
                        <div class="py-10 text-center">
                            <div class="flex justify-center mb-6">
                                <img src="{% static 'autenticacao/img/logo1.png' %}" width="220px" alt="Workflow">
                            </div>
                            <h1 class="text-2xl font-bold text-primary">{{ ambiente }}</h1>
                        </div>
                        <!-- password_reset.html -->
                        <form method="post" class="p-4">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary py-2 px-4 border border-transparent shadow-sm rounded-md text-white focus:outline-none w-full" type="submit">Enviar Link para Reset de Senha</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <script>
            document.getElementById("id_email").classList.add("p-3","border-primary","w-full","mt-2","mb-2","rounded-lg")

            particlesJS("particles-js", {
                "particles": {
                    "number": {
                        "value": 80,
                        "density": {
                            "enable": true,
                            "value_area": 800
                        }
                    },
                    "color": {
                        "value": "#ffffff"
                    },
                    "shape": {
                        "type": "circle",
                        "stroke": {
                            "width": 0,
                            "color": "#383669"
                        },
                        "polygon": {
                            "nb_sides": 5
                        },
                        "image": {
                            "src": "img/github.svg",
                            "width": 100,
                            "height": 100
                        }
                    },
                    "opacity": {
                        "value": 0.5,
                        "random": false,
                        "anim": {
                            "enable": false,
                            "speed": 1,
                            "opacity_min": 0.1,
                            "sync": false
                        }
                    },
                    "size": {
                        "value": 3,
                        "random": true,
                        "anim": {
                            "enable": false,
                            "speed": 40,
                            "size_min": 0.1,
                            "sync": false
                        }
                    },
                    "line_linked": {
                        "enable": true,
                        "distance": 150,
                        "color": "#ffffff",
                        "opacity": 0.4,
                        "width": 1
                    },
                    "move": {
                        "enable": true,
                        "speed": 6,
                        "direction": "none",
                        "random": false,
                        "straight": false,
                        "out_mode": "out",
                        "bounce": false,
                        "attract": {
                            "enable": false,
                            "rotateX": 600,
                            "rotateY": 1200
                        }
                    }
                },
                "interactivity": {
                    "detect_on": "canvas",
                    "events": {
                        "onhover": {
                            "enable": true,
                            "mode": "repulse"
                        },
                        "onclick": {
                            "enable": true,
                            "mode": "push"
                        },
                        "resize": true
                    },
                    "modes": {
                        "grab": {
                            "distance": 400,
                            "line_linked": {
                                "opacity": 1
                            }
                        },
                        "bubble": {
                            "distance": 400,
                            "size": 40,
                            "duration": 2,
                            "opacity": 8,
                            "speed": 3
                        },
                        "repulse": {
                            "distance": 200
                        },
                        "push": {
                            "particles_nb": 4
                        },
                        "remove": {
                            "particles_nb": 2
                        }
                    }
                },
                "retina_detect": true
            });
        </script>

    </body>
</html>